/* Fonts */
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Medium.woff2) format("woff2"),
        url(../fonts/Rubik-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Regular.woff2) format("woff2"),
        url(../fonts/Rubik-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --brand-color: #5267df;
    --btn-color: #fa5959;
    --text-dark: #242a45;
    --text-color: #9194a2;
    --text-darker: rgba(36, 42, 69, 0.75);
}

/* global styles */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    font-family: "Rubik", "Arial", sans-serif;
    line-height: 28px;
    background-color: #f2f2f2;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* Visually hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.lg-container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.md-container {
    width: 100%;
    max-width: 950px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Button styles */
.main-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 9px 23px;
    border: 1px solid transparent;
    background-color: var(--brand-color);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    transition: background-color 0.3s ease,
    border-color 0.3s ease, color 0.3s ease;
}

.main-btn:hover {
    background-color: inherit;
    border-color: var(--brand-color);
    color: var(--brand-color);
}

/* Site Header */
.site__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 108px;
}
.site__logo:hover {
    opacity: 0.8;
}
.site-logo:active {
    opacity: 0.6;
}

.site__logo__img {
    display: flex;
    width: 150px;
    height: 25px;
}

/* Site nav */
.site__header__sitenav {
    display: flex;
    align-items: center;
}

.sitenav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 48px;
}

.sitenav__item:not(:last-child) {
    margin-right: 44px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-dark);
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.sitenav__link:hover {
    color: var(--btn-color);
}

/* Site nav button */
.sitenav__btn {
    margin-bottom: 6px;
    padding: 6px 31px 5px 33px;
    background-color: var(--btn-color);
    border: 1px solid transparent;
    transition: background-color 0.3s ease,
    border-color 0.3s ease, color 0.3s ease;
}

.sitenav__btn:hover {
    background-color: inherit;
    border-color: var(--btn-color);
    color: var(--btn-color);
}
/* Main content */
.main-content {
    flex-grow: 1;
}

/* Hero */
.container {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/side-bg.svg);
    background-repeat: no-repeat;
    background-size: 1000px 350px;
}

.hero__container{
    padding-left: 165px;
    padding-right: 90px;
    padding-bottom: 100px;
    background-position: right -500px bottom 40px;
    margin-bottom: 80px;
}

.hero {
    display: flex;
    align-items: center;
}

/* Hero info */
.hero__info {
    width: 100%;
    max-width: 540px;
    margin-right: 65px;
}

.heading {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 52px;
    color: var(--text-dark);
}
.hero__info__heading {
    font-size: 48px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
}

.hero__info__text {
    margin-bottom: 32px;
}

/* Hero info link */
.hero__info__link {
    background-color: rgb(232, 230, 230);
    color: var(--text-darker);
    margin-left: 16px;
}

.hero__info__link:hover {
    border-color: var(--text-darker);
    color: var(--text-darker);
}

/* Features */
.features__container {
    background-position: left -400px bottom;
    padding-bottom: 90px;
}

.features__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading__box {
    width: 100%;
    max-width: 540px;
    text-align: center;
    margin-bottom: 72px;
}

.features__heading {
    font-size: 32px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}

/* Features navbar */
.featuresnav__list {
    width: 100%;
    max-width: 730px;
    display: flex;
    align-items: center;
    padding-left: 41px;
    padding-right: 70px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(73, 93, 207, 0.20012);;
    margin: 0;
    list-style: none;
}

.featuresnav__item:not(:last-child) {
    margin-right: 90px;
}

.featuresnav__link {
    display: block;
    border: 0;
    font-size: 16px;
    line-height: 17px;
    color: var(--text-darker);
    cursor: pointer;
}

/* Features info */
.features__info__container {
    margin-top: 72px;
}

.features__info {
    display: flex;
    align-items: center;
}

.feature__info__img {
    display: flex;
    width: 536px;
    height: 346px;
    margin-right: 125px;
}

.features__info__content {
    width: 100%;
    max-width: 445px;
}

.features__info__heading {
    text-align: unset;
}
.features__info__text {
    margin-bottom: 32px;
}