/* Fonts */
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Medium.woff2) format("woff2"),
        url(../fonts/Rubik-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Regular.woff2) format("woff2"),
        url(../fonts/Rubik-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --brand-color: #5267df;
    --btn-color: #fa5959;
    --text-dark: #242a45;
    --text-color: #9194a2;
    --text-darker: rgba(36, 42, 69, 0.75);
}

/* global styles */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    font-family: "Rubik", "Arial", sans-serif;
    line-height: 28px;
    background-color: #f2f2f2;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* Placeholder styles */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgba(36, 42, 69, 0.250109);
    opacity: 1;
}

/* Visually hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.lg-container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.md-container {
    width: 100%;
    max-width: 950px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Button styles */
.main-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 22px;
    border: 2px solid transparent;
    background-color: var(--brand-color);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    transition: background-color 0.3s ease,
    border-color 0.3s ease, color 0.3s ease;
}

.main-btn:hover {
    background-color: inherit;
    border-color: var(--brand-color);
    color: var(--brand-color);
}

/* Site Header */
.site__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 108px;
}
.site__logo:hover {
    opacity: 0.8;
}
.site-logo:active {
    opacity: 0.6;
}

.site__logo__img {
    display: flex;
    width: 150px;
    height: 25px;
}

/* Site nav */
.site__header__sitenav {
    display: flex;
    align-items: center;
}

.sitenav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 48px;
}

.sitenav__item:not(:last-child) {
    margin-right: 44px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    color: var(--text-dark);
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.sitenav__link:hover {
    color: var(--btn-color);
}

/* Site nav button */
.sitenav__btn {
    margin-bottom: 6px;
    padding: 6px 31px 5px 33px;
    background-color: var(--btn-color);
    border: 1px solid transparent;
    transition: background-color 0.3s ease,
    border-color 0.3s ease, color 0.3s ease;
}

.sitenav__btn:hover {
    background-color: inherit;
    border-color: var(--btn-color);
    color: var(--btn-color);
}
/* Main content */
.main-content {
    flex-grow: 1;
}

/* Hero */
.container {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/side-bg.svg);
    background-repeat: no-repeat;
    background-size: 1000px 350px;
}

.hero__container{
    padding-left: 165px;
    padding-right: 90px;
    padding-bottom: 100px;
    background-position: right -500px bottom 40px;
    margin-bottom: 80px;
}

.hero {
    display: flex;
    align-items: center;
}

/* Hero info */
.hero__info {
    width: 100%;
    max-width: 540px;
    margin-right: 65px;
}

.heading {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 52px;
    color: var(--text-dark);
}
.hero__info__heading {
    font-size: 48px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
}

.hero__info__text {
    margin-bottom: 32px;
}

/* Hero info link */
.hero__info__link {
    background-color: rgb(232, 230, 230);
    color: var(--text-darker);
    margin-left: 16px;
}

.hero__info__link:hover {
    border-color: var(--text-darker);
    color: var(--text-darker);
}

/* Features */
.features__container {
    padding-bottom: 90px;
}

.features__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading__box {
    width: 100%;
    max-width: 540px;
    text-align: center;
    margin-bottom: 72px;
}

.features__heading {
    font-size: 32px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
}

/* Features navbar */
.featuresnav__list {
    width: 100%;
    max-width: 730px;
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid rgba(73, 93, 207, 0.20012);;
}

.featuresnav__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 243px;
}

.featuresnav__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 17px;
    color: var(--text-darker);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.featuresnav__link:hover,
.featuresnav__link:active {
    color: var(--btn-color);
    border-bottom: 4px solid var(--btn-color);
}

/* Features info */
.features__info__container {
    display: none;
    margin-top: -1px;
    background-position: left -400px bottom 0;
    margin-top: 72px;
    padding-bottom: 90px;
}



.features__info {
    display: flex;
    align-items: center;
}

.feature__info__img {
    display: flex;
    width: 536px;
    height: 346px;
    margin-right: 125px;
    object-fit: cover;
}

.features__info__content {
    width: 100%;
    max-width: 445px;
}

.features__info__heading {
    text-align: unset;
}
.features__info__text {
    margin-bottom: 32px;
}

/* Extensions */
.extensions__heading,
.extensions__text {
    text-align: center;
}

/* Extensions content */
.extensions__content {
    margin-top: 48px;
}

.extensions__list {
    display: flex;
    list-style: none;
}

.extensions__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    max-width: 280px;
    padding-top: 49px;
    padding-bottom: 24px;
    background-color: #fff;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
}

.extensions__item:not(:last-child) {
    margin-right: 34px;
}

.extensions__item:nth-child(2) {
    transform: translateY(44px);
}
.extensions__item:nth-child(3) {
    transform: translateY(88px);
}

/* Extensions info */
.extensions__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px dotted rgba(73, 93, 207, 0.20012);
    margin-bottom: 24px;
}

.extensions__info__img {
    display: flex;
    width: 102px;
    height: 100px;
    margin-bottom: 32px;
    object-fit: cover;
}

.extensions__info__heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.25px;
    color: var(--text-dark);
    margin-bottom: 6px;
}

.extensions__info__text {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
}

/* FAQ */
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 238px;
    margin-bottom: 150px;
}

.faq__heading {
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
}
.faq__text {
    text-align: center;
    margin-bottom: 56px;
}

/* FAQ content */
.faq__content {
    width: 540px;
    margin-bottom: 54px;
}
.faq__btn {
    width: 100%;
    background-color: inherit;
    padding-top: 19px;
    padding-bottom: 13px;
    padding-right: 20px;
    border: 0;
    border-top: 1px solid rgba(36, 42, 69, 0.15);
    cursor: pointer;
}
.faq__btn:nth-child(4) {
    border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}
.faq__btn:hover .faq__btn__text {
    color: var(--btn-color);
}
.faq__btn:active .faq__btn__text {
    opacity: 0.6;
}

.faq__btn__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq__btn__text {
    font-size: 18px;
    line-height: 32px;
    color: var(--text-dark);
}

/* FAQ description  */
.faq__btn__description {
    display: none;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: var(--text-darker);
    margin-top: 32px;
    margin-bottom: 29px;
}
.js__faq__btn__description {
    display: block;
}

.path {
    color: var(--brand-color);
}

.faq-svg.rotate {
    transform: rotate(180deg);
  }

  .faq-svg.rotate path {
    stroke: var(--btn-color);
  }
/* FAQ main btn */
.faq__main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CTA section */
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-color);
    color: #fff;
    padding-top: 58px;
    padding-bottom: 74px;
}

.cta__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 5px;
}

.cta__heading {
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
}

/* CTA form */
.cta__form {
    display: flex;
    align-items: center;
}

.cta__input__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 16px;
}

.cta__input {
    z-index: 3;
    display: block;
    min-width: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--text-dark);
}

.cta__input:not(:placeholder-shown):valid {
    border-color: green;
}
.cta__input:not(:placeholder-shown):invalid {
    border-color: var(--btn-color);
}

/* Eror */
.cta__input__eror-disc {
    display: none;
    position: absolute;
    top: 15px;
    right: 16px;
    z-index: 4;
}

/* cta invalid  */
.cta__input:not(:placeholder-shown):invalid ~ .cta__input__eror-disc {
    display: block;
}

.invalid-alert {
    display: none;
    z-index: 1;
    margin-top: -5px;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 6px;
    font-style: italic;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.25px;
    background-color: var(--btn-color);
    border-radius: 0 0 5px 5px;
    color: #fff;
}

.cta__input:not(:placeholder-shown):invalid ~ .invalid-alert {
    display: block;
}

/* CTA BUTTON */
.cta__btn {
    background-color: var(--btn-color);
    transition: background-color 0.3s ease,
    border-color 0.3s ease;
    cursor: pointer;
    }

.cta__btn:hover {
    border-color: var(--btn-color);
    background-color: #fff;
    color: var(--btn-color);
}